.content {
  margin-top: 64px;

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 286px;
    font-size: 36px;
    letter-spacing: 0.3em;
    margin-bottom: 40px;
  }
}